<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/codebreaker.js"></script>
  <title>Codebreaker</title>
</head>
<body>
<button id="hint">Take a hint!</button>
<div id="hint-container" class="hint"></div>
<button id="restart">Restart</button>
<div class="code-container">
  <input id="code" class="code">
  <button id="input-code" type="button">input</button>
</div>
<div id="results" class="results">

</div>
</body>
</html>